/* E.g. Style Guide: https://google.github.io/styleguide/htmlcssguide.xml */


/**
 * Your main styles at the top apply to the smallest screen/viewport,
 * e.g. width of 320px, or anything less than the following breakpoint.
 * Ordering the breakpoints in this way, smallest to biggest, is loosely
 * called a "mobile-first" approach to responsive design. The CSS targets
 * the "mobile" device sizes first, then overridden on larger devices.
 */
* {
    box-sizing: border-box;
    width: 100%;
}

header span.img {
    display: block;
}

header {
    background-color: #9933cc;
    color: #ffffff;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
}
footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}
/**
 * This is our first breakpoint!
 * If you increase the viewport (your browser window) size from 479px to 480px,
 * (e.g. depending on the mobile phone size, perhaps changing the orientation
 * of the phone to horizontal will trigger this breakpoint).
 * Note: there is no "upper limit" in this breakpoint, so any styles in other
 * following breakpoints after this could override this one.
 */

@media screen and (min-width: 480px) {

    /**
     * Tip! Since we need floating columns, we can apply the floats here
     * and also the self-clearing container trick.
     * Incase you're wondering `::after` is a pseudo element:
     * http://www.w3schools.com/CSSref/sel_after.asp
     */

    
    section::after {
        clear: both;
        content: '';
        display: table;
        height: 0;
        visibility: hidden;
    }

    section article {
        float: left;
    }

    /* Re-style here... */
    
    article {
        width: 50%;
    }
}


/* We're skipping a lot of possible breakpoints here ... */


/**
 * At 1280px viewport width, any styles declared in this breakpoint will
 * override previous styles with matching signatures.
 */

@media screen and (min-width: 1280px) {
    /* Re-style here, if necessary! */
    li {
        display: inline;
    }
    
    .img {
        float: left;
        width:25%;
    }
    
    nav {
        float: left;
        width: 75%;
    }
    
    header::after {
        clear: both;
        content: '';
        display: block;
        height: 0;
        visibility: hidden;
    }
    
}